/* Base styles for the cloud menu container */
.cloud-menu-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

/* Styles for scaling the SVG properly */
.menuSvg {
  width: 100%;
  height: auto;
}

/* Styling for the button, making it responsive */
.button {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  min-width: 50px;
}

.button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Ensures links within .button look consistent */
.plain-text-link {
  text-decoration: none;
  color: inherit;
}
.om-oss { top: 55%; left: 43%; }
.kontakt { top: 55%; left: 55%; }
.vanliga-fragor { top: 55%; left: 70%; }
.logga-in { top: 55%; left: 90%; }

/* Media queries for adjusting layout on smaller screens */
@media (max-width: 768px) {
  .cloud-menu-container {
    max-width: 80px;
    width: 30%;
  }

  .button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .cloud-menu-container {
    width: 40%;
  }

  .button {
    padding: 8px 16px;
  }
}
@media only screen and (min-width: 1260px) and (max-width: 1300px) {
  .cloud-menu-container {
    display: flex;
    flex-direction: column; /* Stack vertically, adjust as needed */
    align-items: center; /* Center-align items, adjust as needed */
    width: 100%;
    overflow-x: auto; /* Retain this if you want to allow scrolling */
  }
  .om-oss { top: 45%; left: 43%; }
  .kontakt { top: 45%; left: 55%; }
  .vanliga-fragor { top: 45%; left: 70%; }
  .logga-in { top: 45%; left: 90%; }
  .menuSvg {
    max-width: 100vw; /* Limits SVG size */
    height: 20vw; /* Maintains aspect ratio */
  }
  .button {
    padding: 5px 10px; /* Adjust button padding */
    font-size: 0.9em; /* Adjust font size */
  }
}
@media only screen and (min-width: 1440px)  and (max-width: 1440px){
  .om-oss { top: 50%; left: 43%; }
  .kontakt { top: 50%; left: 55%; }
  .vanliga-fragor { top: 50%; left: 70%; }
  .logga-in { top: 50%; left: 90%; }
  .menuSvg {
    max-width: 100%; /* Limits SVG size */
    height: 20vw; /* Maintains aspect ratio */
  }
  .button {
    padding: 5px 10px; /* Adjust button padding */
    font-size: 0.9em; /* Adjust font size */
  }
}

