/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Roboto Font */
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Montserrat Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}