.email-verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .CreateAccountText {
    font-size: 36px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #333333;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
  
  .rectangle-container {
    background-color: #001F3F;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
  }
  