.deep-blue-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-image: url('../../assets/Images/MainPageRect.svg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-top: 50px;
}

.deep-blue-container p {
  color: #ffffff;
  text-align: left; /* Align text to the left for better readability */
  margin: 0; 
  letter-spacing: 0.3em; /* Adjust letter spacing */
  max-width: 90%; /* Ensure text doesn’t span too wide */
  font-size: clamp(1rem, 2vw, 1.5rem); 
  line-height: clamp(1.5, 2.5vw, 2);
}
