.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 250px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.loremIpsum {
  text-align: center;
  padding: 20px;
}

.loremIpsum p {
  margin: 5px 0;
}

.submitButton {
  margin-top: 20px;
}
