.MainPageTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  max-height: auto;
  height: 80vh;
  padding: 30px;
  margin-right: auto; /* Added to center the element horizontally */
  margin-left: 350px; /* Corrects horizontal centering */
  background-image: url('../assets/Images/MainPageRect.svg');
  background-size: cover;
  position: relative;
  overflow: hidden; /* Hides overflow content */

}


.MainPageTextContainer p {
  color: #ffffff;
  font-size: 40px; /* Responsive font size */
  text-align: justify;
  margin-bottom: auto; /* Adjusted for better spacing */
  line-height: 1.5; /* Standard line height for readability */
  letter-spacing: 0.3em; /* Default letter spacing */
  max-width: auto;
  max-height: auto;
  overflow: auto;
  width: 90%; /* Example to adjust the width */
}

.Skaffa-Ebudget {
  background-color: #98FF98;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  letter-spacing: 0.3em; 
  font-weight: bold; /* Makes the text bold */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 80%; /* Responsive width */
  height: 10vh;
  margin-bottom: 67vh; /* Adjusted */
  position: relative;
  left: 10%; /* Adjust for better centering */
}

.MainPageWrapper {
  display: flex;
  align-items: center; /* Adjusts items vertically to be in the center, you can change it as needed */
  justify-content: center; /* Horizontally centers the content, adjust as necessary */
  flex-wrap: wrap; /* Allows items to wrap if the space is too narrow */
}

.main-page-bird {
  max-width: 100%; /* Keeps image responsive */
  height: auto; /* Maintains aspect ratio */
  /* Consider adding a flex-basis if you want to specify an initial size */
}







/* Media Queries */

@media only screen and (max-width: 600px) {
  .MainPageTextContainer {
      left: 0; /* Center for small screens */
      width: 45%; /* Use more width on small screens */
  }
}

@media only screen and (min-width: 768px) {
  .MainPageTextContainer {
      width: 50%; /* Adjust width for tablet screens */
      margin-top: 150px; /* Adjust top margin for better visibility */
  }
  .Skaffa-Ebudget {
      left: 5%; /* Adjust button positioning for tablet screens */
  }
}

@media only screen and (min-width: 1260px) and (max-width: 1300px) {
  .MainPageTextContainer {
    right: 20%; /* Center for small screens */
    width: 35%; /* Use more width on small screens */
    margin-top: 1%;
  }
.MainPageWrapper {
  width: 80%;
  min-height: 5vh; /* Ensures the wrapper takes at least the height of the viewport */
  margin-top: 0%;
  margin-left: 25%;
  display: flex;
  flex-direction: row; /* Aligns children side by side */
  align-items: center; /* Aligns children vertically in the center */
  justify-content: center; /* Centers children horizontally */
  flex-wrap: wrap; /* Allows items to wrap to a new line on smaller screens */
}
.Skaffa-Ebudget {
  align-self: center; /* Centers the button within the flex container */
  margin-bottom: 70vh; /* Adjust to fine-tune the spacing, removing the 70vh */
  width: auto;
  max-width: 200px;
  margin-right: 3%;
}
.MainPageTextContainer p {
  color: #ffffff;
  font-size: calc(16px + 1vw); /* Responsive font size */
  text-align: justify;
  margin-bottom: 30vh; /* Adjusted for better spacing */
  line-height: 1.5; /* Standard line height for readability */
  letter-spacing: normal; /* Default letter spacing */
  max-width: 375px;
  max-height: 400px;
  overflow: auto;
}
.main-page-bird {
  max-width: 40%;
  height: auto;
  transform: translateX(-150px);
  margin-top: -80vh; /* Adjust value to move the image up */
  margin-left: 50vh;
}

}

@media only screen and (min-width: 1366px) {
  .MainPageTextContainer {
      width: 15%; /* Optimal width for laptop screens */
      margin-top: 0px; /* More margin for top alignment */
  }
  .Skaffa-Ebudget {
      width: 20%; /* Adjust button width for consistency */
      left: 10%; /* Center the button more accurately */
      margin-top: -80px;
      font-size: 16px;
  }
  .main-page-bird {
    max-width: 30%; /* Ensures the image is responsive and does not overflow its container */
    height: auto; /* Maintains the aspect ratio of the image */
    transform: translateX(-150px); 
    margin-top: 25vh;
  }
  .MainPageTextContainer p {
    font-size: 20px;
  }
    .main-page-bird {
    margin-left: -10vh;
  }  
}
@media only screen and (min-width: 1920px) {
  .main-page-bird {
    margin-left: -10vh;
  }  
  .MainPageTextContainer {
    width: 15%; /* Optimal width for laptop screens */
    margin-top: 150px; /* More margin for top alignment */
}
.Skaffa-Ebudget {
  width: 20%; /* Adjust button width for consistency */
  left: 10%; /* Center the button more accurately */
  margin-top: 80px;
  font-size: 16px;
}
}