@import './styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply font-inter text-body;
  margin: 0;
  height: auto;
  min-height: 100%;
}

body {
  @apply bg-gradient-to-br from-customBlue1 to-customBlue2 bg-fixed bg-cover;
}

#root {
  @apply flex flex-col min-h-screen;
}

/* Optional: Debug styles */
.debug-outline {
  outline: 5px solid blue;
}

.debug-outline * {
  outline: 1px solid red;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes flap {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.hover\:animate-flap:hover {
  animation: flap 0.5s ease-in-out infinite;
}
.parallax {
  transform: translateZ(-1px) scale(1.5);
}
@media (width: 1920px) and (height: 1080px) {
  .1920\:bg-blue-500 {
    background-color: #0000ff; /* blue */
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

.bounce {
  animation: bounce 2s infinite;
}